@import "../../Sass/mixins";
@import "../../Sass/theme";

$helper_height: 1em;

.Input input[type=checkbox] {
  display: none;
  & + label {
    display: inline-block;
    width: 3em;
    height: $helper_height;
    background-color: #ddd;
    border-radius: $helper_height/2;
    @include transition(all 125ms ease);
    &:hover {
      cursor: pointer;
    }
    &:hover::after {
      @include box-shadow(0 0 5px rgba(black, 0.3));
    }
    &::after {
      content: "";
      transform: translateX(0);
      display: block;
      position: absolute;
      left: 0;
      top: -$helper_height/4;
      background-color: #aaa;
      height: 1.5*$helper_height;
      width: 1.5*$helper_height;
      border-radius: 1.5/2*$helper_height;
      @include box-shadow(0 0 3px rgba(black, 0.2));
      @include transition(all 125ms ease);
    }
  }
  &:checked + label {
    background-color: desaturate(lighten($like, 40%), 20%);
    &:hover::after {
      @include box-shadow(0 0 5px rgba($like, 0.3));
    }
    &::after {
      transform: translateX(100%);
      background-color: lighten($like, 10%);
      @include box-shadow(0 0 3px rgba($like, 0.2));
    }
  }
}
