h1, h2, h3,
p,
ul, ol,
html,
body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
	position: relative;
	// overflow-x: hidden;
}

ul {
	list-style: none;
}

button, input, textarea {
	font-size: inherit;
	font-family: inherit;
	vertical-align: inherit;
	color: inherit;
	border: none;
}
button:hover {
	cursor: pointer;
}
