@import "./mixins";

$font_stack: 'Open Sans', sans-serif;
$default_text_color: #595959;

$light_primary: #FF7668;
$soft_primary: #FF5F4F;
$dark_primary: #B23225;
$soft_secondary: #3060B2;
$dark_secondary: #77A9FF;

$like: #14B25D;
$dislike: #FF815B;
$blue: #1da1f2;


.btn {
  padding: 0.3em 0.5em;
  @include transition(all 125ms ease);
  @include box-shadow(1px 1px 6px rgba(black, 0.2));
  &:hover {
    @include box-shadow(1px 1px 7px rgba(black, 0.3));
  }
  &.default {
    color: $default_text_color;
    background-color: #ddd;
    &:hover {
      background-color: #eee;
      color: lighten($default_text_color, 5%);
    }
  }
  &.success {
    background-color: darken($like, 5%);
    color: #fff;
    &:hover {
      background-color: $like;
    }
  }
  &.danger {
    background-color: darken($dislike, 5%);
    color: #fff;
    &:hover {
      background-color: $dislike;
    }
  }
}
