$font_stack: 'Open Sans', sans-serif;

$light_primary: #FF7668;
$soft_primary: #FF5F4F;
$dark_primary: #B23225;
$soft_secondary: #3060B2;
$dark_secondary: #77A9FF;

$like: #14B25D;
$dislike: #FF815B;
$blue: #1da1f2;
