.PostBar {
  position: fixed;
  z-index: 100;
  top: 2em;
  left: 0;
  width: 100vw;
  display: flex;
  @include box-shadow(0 1px 5px rgba(black, 0.2));
  .textarea {
    padding: 0.5em 0.3em;
    @include flex(5);
    min-height: 2em;
    max-height: 5em;
    background-color: #fff;
    word-wrap: break-word;
    overflow: auto;
    &.empty::after {
      content: "What's up?";
      color: #ddd;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.5em 0.4em;
      pointer-events: 0;
    }
  }
  button {
    @include flex(1);
    @include transition(background-color 125ms ease);
    &:hover {
      cursor: pointer;
    }
  }
  .sendButton {
    background-color: $dark_secondary;
    color: #fff;
    &:hover {
      background-color: lighten($dark_secondary,10%);
    }
  }
  .attachButton {
    background-color: #ddd;
    color: #222;
    &:hover {
      background-color: #eee;
    }
  }
}
