.Post {
  margin: 0 auto 1em auto;
  .head, .content  {
    padding: 0.3em 0.4em;
  }
  background-color: #fff;
  @include box-shadow(1px 1px 4px rgba(black, 0.1));
  .profilePic {
    display: inline-block;
    margin-right: 0.3em;
    background-color: #eee;
    border-radius: 50%;
    overflow: hidden;
    height: 2em;
    width: 2em;
    img {
      width: 100%;
      height: auto;
    }
  }
  .head-text {
    display: inline-block;
  }
  .author {
    font-size: 0.9em;
    color: lighten($default_text_color, 5%);
  }
  .timestamp {
    font-size: 0.8em;
    color: lighten($default_text_color, 10%);
  }
  .content {
    span.fa {
      font-size: 0.7em;
      color: lighten($default_text_color, 15%);
    }
    span.fa-quote-left {
      padding-right: 0.5em;
      vertical-align: top;
    }
    span.fa-quote-right {
      padding-left: 0.5em;
      vertical-align: bottom;
    }
  }
  .image {
    background-color: #fafafa;
  }
  &:not(.grid-item) {
    width: 95%;
  }
  padding-bottom: 2.7em;
  .foot {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: 2.7em;
    vertical-align: middle;
    text-align: center;
    & > * {
      @include flex(1 33.333%);
    }
    button {
      background-color: transparent;
      padding: 0.6em 0;
      @include transition(color 125ms ease, background-color 125ms ease);
      span.fa {
        font-size: 1.5em;
        padding-right: 1em;
      }
    }
    button.like {
      color: $like;
      &:hover:not(:focus):not(:disabled), &.selected {
        color: #fff;
        background-color: $like;
      }
    }
    button.dislike {
      color: $dislike;
      &:hover:not(:focus):not(:disabled), &.selected {
        color: #fff;
        background-color: $dislike;
      }
    }
    button.comments {
      color: $blue;
      &:hover:not(:focus):not(:disabled), &.open {
        color: #fff;
        background-color: $blue;
      }
    }
  }
}

.fake-link {
  color: $blue;
  text-decoration: underline;
  cursor: pointer;
}
