.Navbar {
  background-color: $soft_red;
  display: flex;
  flex-wrap: nowrap;
  vertical-align: middle;
  line-height: 2em;
  color: #fff;
  font-weight: 600;
  @include box-shadow(0 1px 6px rgba(black,0.3));
  @include bp-medium {
    line-height: 3em;
  }

  .nav-left, .nav-right {
    @include flex(1);
  }
  .nav-left {
    text-align: left;
    padding-left: 0.75em;
    & > * {
      margin-right: 0.75em;
    }
  }
  .nav-middle {
    @include flex(1);
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    a {
      @include flex(1);
      text-overflow: ellipsis;
      @include transition(background-color 125ms ease);
      &:hover {
        background-color: rgba(black, 0.1);
      }
    }
    @include bp-medium {
      position: fixed;
      @include flex(none);
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 3em;
      background-color: #fff;
      color: $soft_red;
      @include box-shadow(0 -1px 6px rgba(black, 0.3));
      a {
        line-height: 3em;
      }
    }
  }
  .nav-right {
    text-align: right;
    padding-right: 0.75em;
    & > * {
      margin-left: 0.75em;
    }
  }
  .logo {
    font-size: 1.5em;
    padding-right: 0.5em;
    color: #fff;
    pointer-events: none;
    font-family: 'Pacifico', sans-serif;
    font-weight: 400;
  }
  .profile-link {
    display: none;
    @include bp-medium {
      display: block;
    }
  }
  .user {
    @include bp-medium {
      display: none;
    }
    .greeting {
      @include bp-large {
        display: none;
      }
    }
  }
  button {
    background-color: #fff;
    color: $soft_red;
    border-radius: 2px;
    @include transition(all 125ms ease);
    @include box-shadow(0 0 4px rgba(black, 0.2));
    &:hover {
      cursor: pointer;
      @include box-shadow(0 0 1px rgba(black, 0.2));
    }
    &:focus {
      outline: none;
    }
    @include bp-medium {
      padding: 0.3em 0.5em;
    }
  }
  a {
    color: inherit;
    text-decoration: none;
    line-height: 2em;
  }
}
