@import "./Post/Post";
@import "./PostBar/PostBar";

.Feed {
  min-height: 100%;
  padding-top: 3em;
  #refresh, .PostBar {
    @include transition(transform 175ms ease);
  }
  @include bp-medium {
    @include transition(margin-top 175ms ease);
    padding-top: 1em;
    &.show {
      padding-top: 3em;
    }
    #refresh {
      transform: translateY(4em);
    }
    &.show #refresh {
      transform: translateY(-3em);
    }
    .PostBar {
      transform: translateY(-3em);
    }
    &.show .PostBar {
      transform: translateY(1em);
    }
  }
  /* grid */
  .grid-sizer {
    width: 25%;
  }
  .grid-item {
    width: 23.5%;
    margin: 1em 0.75%;
  }
  .grid-item {
    float: left;
  }
  .grid-item img {
    display: block;
    max-width: 100%;
    max-height: 80vh;
    margin: 0 auto;
  }
  .grid-item--width2 { width: 48.5%; }
  // @include bp-large {
    .grid-sizer {
      width: 33.333%;
    }
    .grid-item {
      width: 31%;
      margin: 1em 1.1666%;
    }
    .grid-item--width2 { width: 64%; }
  // }
  @include bp-medium {
    .grid-sizer {
      width: 100%;
    }
    .grid-item,
    .grid-item--width2 {
      width: 93.333%;
      margin: 0.5em 3.333%;
    }
  }
}
body {
  background-color: #efefef;
}

#refresh {
  position: fixed;
  z-index: 100;
  right: 1em;
  bottom: 1em;
  height: 4em;
  width: 4em;
  border-radius: 50%;
  color: #fff;
  background-color: $soft_red;
  @include box-shadow(1px 1px 7px rgba(black, 0.4));
  span {
    font-size: 2.5em;
  }
  &:hover, &.loading {
    span {
      @include animation(spin 3s infinite linear);
    }
  }
  &:focus {
    outline: none;
    border: none;
  }
  &:hover {
    cursor: pointer;
  }
  &.loading {
    background-color: lighten($soft_red, 20%)
  }
  @include bp-medium {
    height: 3em;
    width: 3em;
    span {
      font-size: 1.75em;
    }
    &:hover {
      span {
        @include animation(spin 1s normal linear);
      }
    }
  }
}

@include keyframes(spin) {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
};
