@import "./SignIn/SignIn";
@import "./SignUp/SignUp";

.Auth {
  background-color: $soft_primary;
  line-height: 100vh;
  vertical-align: middle;
  text-align: center;
  & > * { line-height: 1em; }
  .logo {
    position: absolute;
    text-align: left;
    left: 0.5em;
    top: 0.5em;
    font-size: 2em;
    color: #fff;
    pointer-events: none;
    font-family: 'Pacifico', sans-serif;
  }
  .error {
    text-align: left;
    padding: 0.5em 0.5em;
    background-color: lighten($light_primary, 20%);
    color: $dark_primary;
  }
  .auth-wrapper {
    display: inline-block;
    margin: 0 auto;
    width: 20em;
    background-color: #fafafa;
    @include box-shadow(0 0 6px rgba(0,0,0,0.3));
  }
  .auth-form {
    padding: 1em;
    input {
      border: none;
      line-height: 2.5em;
      padding: 0 0.5em;
      width: 18em;
      margin-top: 1em;
      @include placeholder {
        color: #ddd;
      }
      &:focus {
        outline: none;
      }
    }
    button {
      border: none;
      width: 18em;
      margin-top: 1em;
      line-height: 2.5em;
      background-color: #eaeaea;
      @include transition(all 125ms ease);
      &:focus {
        outline: none;
        @include box-shadow(none);
      }
      &:hover {
        cursor: pointer;
        background-color: #ddd;
        color: #111;
      }
    }
  }

  .auth-in-up {
    display: flex;
    flex-wrap: nowrap;
    button {
      @include flex(1 50%);
      font-size: 1.2em;
      padding: 0.3em 1em;
      border: none;
      background-color: #efefef;
      @include transition(all 125ms ease);
      &:not(.active):hover {
        background-color: #f4f4f4;
        cursor: pointer;
      }
      &.active {
        background-color: inherit;
        color: $soft_primary;
      }
      &:focus {
        outline: none;
        @include box-shadow(none);
      }
    }
  }

}
